.leaderboard-bg
{
    align-items: center;
    align-self: center;
    align-content: center;
    text-align:center;
}

.leaderboard-card 
{
  border-radius: 2px;
  width: fit-content;
  width: 50%;
  margin: 0 auto;

}

.leaderboard-title 
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  letter-spacing: 4px;
  font-size: 80px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.styled-leaderboard {
  
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

.styled-leaderboard th {
  background: #facd96;
  color: #000000;
  font-weight: bold;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 20px;
}


.styled-leaderboard td {
  background: #fff;
  color: black;
  text-align: center;
  border-radius: 10px;
  font-size: 1.05rem;
  padding: 10px 0;
}

.styled-leaderboard tr {
  transition: transform 0.01s;
}

.styled-leaderboard tr:hover td {
  background: white;
  transform: scale(1.01);
}


* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .leaderboard-card {
    width: 70% !important; 
    margin: 0 auto !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .leaderboard-title {
    font-size: 2.5rem !important; 
    letter-spacing: 1.5px !important;
  }

  .styled-leaderboard {
    border: 2px solid blue !important;
    font-size: 1rem !important;
    margin: 0 auto !important; /* fixed here */
  }

  .styled-leaderboard th, .styled-leaderboard td {
    padding: 8px 4px !important;
    white-space: nowrap; 
    text-align: center;
  }
}
